* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Segoe UI', Helvetica, Verdana;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5c9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@-ms-viewport {
    width: device-width;
}

button:focus {
    border: 1px solid black;
    outline: none;
    background-color: #c9d4f5;
}

h2 {
    font-size: 2.25rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    width: 300px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.adding.container {
    top: 100px;
    background-color: #f5eac9;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.entry_box {
    margin: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 340px;
    background-color: #c9d4f5;
    border-radius: 5px;
}

img {
    object-fit: cover;
    margin-top: 10px;
    height: 200px;
    width: 200px;
}

.entry {
    font-size: 1.25rem;
}

.entry.science_name {
    font-style: italic;
    font-size: 1.5rem;
}

button {
    height: 40px;
    width: 60px;
    font-size: 2rem;
    margin: 10px 15px 0 15px;
    padding: 5px 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

.return_button {
    background-color: #e8a7a1;
}

.delete_button {
    background-color: #a1e8b9;
}
